<header>
  <h1>{{tituloPagina | uppercase}}</h1>
</header>
<main>
  <div #albumContainer>
  <div class="container-principal">
    <div class="container-album" *ngFor="let album of albuns">


      <div class="foto-thumbnail" *ngIf="album.fotos && album.fotos.length > 0">
        <img [src]="album.fotos[0].thumbnailUrl" alt="{{album.title}} thumbnail">
      </div>
      <div class="container-titulo">


      <h1 (click)="toggleFotos(album)">
        {{album.title}}
      </h1>
    </div>


      <div class="fotos-container" *ngIf="album.mostrarFotos">
        <div class="fotos" *ngFor="let foto of album.fotos" (click)="selecionarFoto(foto)">
          <img [src]="foto.thumbnailUrl" alt="{{foto.title}}">
        </div>
      </div>
    </div>
    <div appMinhaDiretiva>
      <label>Teste diretiva</label>
    </div>
  </div>
</div>

  <div *ngIf="fotoSelecionada" class="foto-principal">
    <h2>{{fotoSelecionada.title}}</h2>
    <img [src]="fotoSelecionada.url" alt="{{fotoSelecionada.title}}"/>
    <button (click)="fotoSelecionada = undefined">Fechar</button>
  </div>
</main>
