
<app-conteudo></app-conteudo>
<hr>
<app-meu-primeiro-componente></app-meu-primeiro-componente>
<hr>

<app-formulario (clienteAdicionado)="adicionarCliente($event)"></app-formulario>

<app-listagem
  [clientes]="clientes"
  (clienteEditado)="editarCliente($event)"
  (clienteExcluido)="excluirCliente($event)">
</app-listagem>



<!--<div style="height: fit-content;" *ngIf="clientes.length > 0; else elseBlock">clientes</div>

<ng-template #elseBlock>
  <div>Não hà clientes</div>
</ng-template>

<div style="height: fit-content;" *ngFor="let cliente of clientes">
  {{cliente.nome}}
</div>

<table style="height: fit-content;" border="2">
  <tr>
    <th>Nome:</th>
  </tr>
  <tr *ngFor="let cliente of clientes">
    <td>{{cliente.nome}}</td>
  </tr>
</table> -->
