

<div class="menu-nav">
  <nav>
    <ul>
      <li><a routerLink="/cadastro" routerLinkActive="active">Cadastro</a></li>
      <li><a routerLink="/listagem" routerLinkActive="active">Listagem</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>

<!--
<app-formulario (clienteAdicionado)="adicionarCliente($event)"></app-formulario>


<app-listagem [clientes]="clientes" (clienteSelecionado)="selecionarCliente($event)" (clienteExcluido)="excluirCliente($event)"></app-listagem>

<app-edicao [cliente]="clienteEmEdicao" (clienteSalvo)="salvarCliente($event)"></app-edicao>

<!---
<app-formulario (clienteAdicionado)="adicionarCliente($event)"></app-formulario>->
-->


