<div class="container-restaurante">
  <h1>Bem-vindo à Área de Gestão do Restaurante</h1>
  <nav>
    <ul class="menu-items">
      <li>Gestão Restaurante
        <ul class="submenu-items">
          <li><a routerLink="/cadastro" routerLinkActive="active">Cadastrar Restaurante</a></li>
          <li><a routerLink="/listagem" routerLinkActive="active">Listar Restaurantes</a></li>
        </ul>
      </li>
      <li>Gestão Funcionários
        <ul class="submenu-items">
          <li><a routerLink="/cadastrar-funcionario" routerLinkActive="active">Cadastrar Funcionário</a></li>
          <li><a routerLink="/listar-funcionarios" routerLinkActive="active">Listar Funcionários</a></li>
        </ul>
      </li>
      <li><a routerLink="mesa" routerLinkActive="active">Gestão Mesas</a></li>
      <li><a routerLink="pedido" routerLinkActive="active">Gestão Pedidos</a></li>
      <li><a routerLink="reserva" routerLinkActive="active">Gestão Reservas</a></li>

    </ul>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>

</div>
