<div class="container-restaurante">
  <h1>Bem-vindo à Área de Gestão do Restaurante</h1>
  <nav>
    <ul class="menu-items">
      <li>Gestão Restaurante
        <ul class="submenu-items">
          <li><a routerLink="/cadastrar-restaurante" routerLinkActive="active">Cadastrar Restaurante</a></li>
          <li><a routerLink="/listar-restaurantes" routerLinkActive="active">Listar Restaurantes</a></li>
        </ul>
      </li>
      <li>Gestão Funcionários
        <ul class="submenu-items">
          <li><a routerLink="/cadastrar-funcionario" routerLinkActive="active">Cadastrar Funcionário</a></li>
          <li><a routerLink="/listar-funcionarios" routerLinkActive="active">Listar Funcionários</a></li>
        </ul>
      </li>
      <li>Gestão Mesas
        <ul class="submenu-items">
          <li><a routerLink="/cadastrar-mesa" routerLinkActive="active">Cadastrar Mesa</a></li>
          <li><a routerLink="/listar-mesas" routerLinkActive="active">Listar Mesas</a></li>
          <li><a routerLink="/buscar-mesa" routerLinkActive="active">Buscar Mesa</a></li>
        </ul>
      </li>
      <li>Gestão Pedidos
        <ul class="submenu-items">
          <li><a routerLink="/adicionar-pedido" routerLinkActive="active">Adicionar Pedido</a></li>
        </ul>
      </li>
      <li>Gestão Reservas
        <ul class="submenu-items">
          <li><a routerLink="/adicionar-reserva" routerLinkActive="active">Adicionar Reserva</a></li>
          <li><a routerLink="/buscar-reserva" routerLinkActive="active">Buscar Reserva</a></li>
          <li><a routerLink="/alterar-status-reserva" routerLinkActive="active">Alterar Status Reserva</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="container-center">
    <img src="../../../assets/imagem-fundo.jpg" alt="restaurante"/>
  </div>
</div>
