<div class="container-home">
  <h1>Bem vindo ao Meu Sistema Full Stack</h1>
  <div class="container-home-principal">
    <img src="../../../assets/restaurante.png" alt="restaurante"/>
    <div class="container-beneficios">
      <p>1. Simplifique o gerenciamento de estoque O gerenciamento de estoque é uma tarefa difícil, especialmente para a maioria dos bares e restaurantes que realizam essa rotina de forma manual. ...</p>
      <p>2. Redução de erros humanos Os processos manuais podem levar a erros humanos, certo? ...</p>
      <p>3. Simplifique a contabilidade ...</p>
      <p>4. Obtenha uma visão sobre o custo dos alimentos ...</p>
      <p>5. Simplifique a gestão</p>
    </div>
  </div>
</div>
