body{
    background-color: rgb(3, 3, 77);
}

.container-principal{
    width: 80%;
    position: fixed;
    margin-left: 10%;
    margin-top: 5%;
    background-color: gainsboro;
}

tr{
    background-color: white;
}

.container-mostrar-tarefas{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

