<header>
  <h1>Area do Cliente</h1>
  <ul>
    <li>
      <a routerLink="listagem" routerLinkActive="active">Listagem Clientes</a>
    </li>
    <li>
      <a routerLink="cadastro" routerLinkActive="active">Cadastro Clientes</a>
    </li>
  </ul>
  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <!-- Paginação
  <div class="pagination">
    <button (click)="page = page - 1; listarClientes()" [disabled]="page === 0">Anterior</button>
    <button (click)="page = page + 1; listarClientes()">Próximo</button>
  </div>-->

</header>
