.conteudo{
  background-color: rgb(236, 254, 255);
  display: flex;
  justify-content:space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 50px;
}

.conteudo img{
  width: 60%;
  height: 60%;
  padding: 5%;
}

.conteudo p{
  padding: 5%;
}
