body {
  background-color: white;
}

.navbar {
  background-color: #17a2b8 ;
}

.navbar-brand, .nav-link {
  color: black;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  color: #343a40;
}

.welcome-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  background-color: #17a2b8;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #138496;
}

.tabela{
  border: 3px solid;
  background-color: white;
  margin: 6rem;
}

.tabela2{
  border: 3px solid;
  background-color: white;
  margin: 6rem;
}

.col{
  border: 1px solid;
}

.imagem-fundo{
  width: auto;
  height: 100%;
  overflow: hidden;

}


