<div class="listagem-container">
  <table class="tabela">
    <tr class="cabecalho">
      <th>Id</th>
      <th>Nome</th>
      <th>Data Nascimento</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
    <tbody class="tabela-corpo">
      <tr class="linha-tabela">
        <td>1</td>
        <td>Patrick</td>
        <td>20/04/1993</td>
        <td><button>Editar</button></td>
        <td><button>Excluir</button></td>
      </tr>

      <tr class="linha-tabela">
        <td>2</td>
        <td>Pedro</td>
        <td>20/04/1997</td>
        <td><button>Editar</button></td>
        <td><button>Excluir</button></td>
      </tr>

    </tbody>
  </table>
</div>
